<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Company: </title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h1>Company: <%= companyName %> </h1>
				<p>Y-tunnus: <%= businessId %></p>
				<p>Kotipaikka: <%= office %></p>

			</div>
		</div>
	</div>
</body>
</html>

