<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Company details</title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div class="container">						

		<div class="col-xs-6 col-xs-offset-3">
					<% companyList.forEach(function(company){ %>

						<h1><a class="companyLink" href="/company/<%=company.businessId%>"><%= company.name %></a></h1> <!--MAKE THIS A LINK TO COMPANY PAGE-->
					<ul>
						<li>Y-tunnus: <%= company.businessId %></li>
					</ul>
				<%	})	%>	
					
				</div>
		
	</div>
</body>
</html>