<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='//fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Boom or Bust</title>
</head>
<body>
	<div class="navigationHome">
		<div class="navright">
			<li><a href="/">Home</a></li>
			<% if (login) { %>
				<form method="POST" action="/logout?_method=DELETE">
					<button>Logout</button>
				</form>
			<% } else { %>
				<li><a href="/user/login">Login</a></li>
				<li><a href="/user/signup">Sign Up</a></li>
			<% } %>
		</div>
	</div>


		<div class="selectedCompany">
			<h1>Company: <%= companyName %> </h1>
			<p>Business ID: <%= businessId %></p>
			<p>Location: <%= office %></p>

			<form method="POST" action="/favorites">
				
				<input type="text" name="business_id" value="<%=businessId%>" style="display:none;">
				<button>Save</button>
			</form>
		</div>

</body>
</html>

