<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='//fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css">
   
	<title>Boom or Bust</title>

</head>


<body>
	<div class="content">
		<div class="navigationHome">
			<div class="navright">
				<li><a href="/">Home</a></li>
				<li><a href="/user/login">Login</a></li>
				<li><a href="/user/signup">Sign Up</a></li>
			</div>
		</div>

		<div class="logo">
			<h1 class="logoHeader">Boom or Bust</h1>
		</div>

		<div class="companies">
			<div class="companyTotal">
				<div class="companytype">	
					<h3>Companies founded:</h3>
				</div>
				<div>
					<a href="/companylist/boom" type="boom" class="big"><%= boom %></a>
				</div>
			</div>
			
			<div class="companyTotal">
				<div class="companytype">
					<h3>Companies bankrupt*:</h3>
				</div>
				<div>
					<a href="/companylist/bust" type"bust" class="big"><%= bust %></a>
				</div>	
			</div>	
		</div>

		<div class="about">
			<p>Boom or Bust shows the number of companies being founded in Finland on the previous business day. The app has been built on data provided by the Finnish Patent and Registration Office (PRH) under license CC BY 4.0. </p>
			<p>* = Companies that have started the process of bankruptcy on the previous date.</p>
		</div>
	</div>
</body>
</html>