<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Home: Boom or Bust</title>

</head>
<body>

	<div class="container">
		<div>
			<a href="/user/login">Login</a>
			<a href="/user/signup">Sign Up</a>
		</div>

		<h1>Boom or Bust</h1>

		<div class="boom">
			<a href="/companylist/boom" type="boom"> Boom: <%= boom %></a>
		</div>
		<div class="bust">
			<a href="/companylist/bust" type"bust"> Bust: <%= bust %></a>
		</div>

	</div>
</body>
</html>