<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css">
	
	<title>Boom or Bust</title>
</head>
<body>
		<div>
			<a href="/">Home</a>
			<a href="/user/login">Login</a>
			<a href="/user/signup">Sign Up</a>
		</div>
	<form method="POST" action="/user/login">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button>Login</button>
	</form>
</body>
</html>