<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Boom or Bust</title>

</head>
<body>
	<div class="navigationHome">
		<div class="navright">
			<li><a href="/">Home</a></li>
		</div>
	</div>

		
	<div class="companyList">
		<h1>Hi there!</h1>
		
		<p>Companies you're following:</p>
			<% favorites.forEach(function(company){ %>

						<h1><a class="companyLink" href="/company/<%=company.company_id%>"><%= company.company_id %></a></h1>
		<%	})	%>

		<form method="POST" action="/logout?_method=DELETE">
			<button>Logout</button>
		</form>
	</div>
</body>
</html>